*{
    /* border: 1px solid green; */
}

:root{
    --icon-size:25px;
    --nav-color:lightblue;
    --header-color: white;
    --icon-color: rgb(174, 176, 182);
    --main-color: rgb(219, 219, 231);
    --small-profile-pic-size:40px;
    --big-profile-pic-size:60px;
    
    
}

html{
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
    min-width: 725px;
    
}

.icon{
    width: var(--icon-size);
}

.big-icon{
    width: var(--small-profile-pic-size);
}

ul{
    list-style: none;
    padding-left: 15px;
    margin-left: 10px;
}

/* --------------HEADER------------- */
header{
    grid-column: 2/5;
    background-color: var(--header-color);
    display: grid;
    position: sticky;
}

.header-top{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.search-bar-container{
    display: flex;
    justify-content: left;
    align-items: center;
    padding:10px
}

.search-bar-container>*{
    margin: 10px;
}

#search-bar{
    width: min(700px, 80%);
    min-width: 300px;
    height: var(--icon-size);
    background-color: var(--icon-color);
    border-radius: 20px;
    padding-left: 20px;
}

.user-corner{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
    padding:10px 30px;
}

.user-corner>*{
    margin: 10px;
    flex-shrink: 0;
}

.header-bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-pic{
    border-radius: 50%;
    background-color: var(--icon-color);
    width: var(--small-profile-pic-size);
    height: var(--small-profile-pic-size);
}

.profile-pic.big{
    width: var(--big-profile-pic-size);
    height: var(--big-profile-pic-size);
}

.greeting{
    display: flex;
    justify-content: left;
    align-items: center;
    padding:10px;
}

.greeting>*{
    margin-left: 10px;
    flex-shrink: 0;
}

.user-name>*{
    margin:auto
}

.action-button-bar{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 20px 30px;
    gap: 30px;
}

.action-button-bar>*{
    background-color: var(--nav-color);
    height: var(--small-profile-pic-size);
    width: 90px;
    border-radius: 20px;
}

/* -----------NAV------------ */
nav{
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: var(--nav-color);
}

.dashboard-title{
    display: flex;
    gap:15px;
    margin: 10px;
}

.nav-list{
    display: grid;
    gap: 0.5em;
}

.nav-list>span{
    height:1em
}

.nav-item{
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap:10px
}

ul a {
    margin-left: 10px;
    color: black;
    text-decoration: none;
    font-size: larger;
}

/* ---------MAIN-------- */
main{
    grid-column: 2/5;
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: var(--main-color);
}

